@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-red-dark: oklch(0.36 0.147571 29.2339);
  --color-redlight: oklch(0.52 0.2019 25.94);
  --color-offwhite: oklch(0.98 0.0171 84.59);
  --color-greyblue: oklch(0.68 0.0346 273.89);
  --color-blackheader: oklch(0.24 0 0);
  --font-IBM:"IBM Plex Sans KR", "";
}



::-webkit-scrollbar {
  display: none;
}

input::placeholder {
  font-family: IBM Plex Sans KR;
  text-align: center;
  font-weight: bold;
  opacity: 0.5;
  color: oklch(0.36 0.147571 29.2339);
}

/* Radio Buttons :p */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom radio button (unclicked) */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
  width: 56px;
  height: 56px;
  border-radius: 9999px;
  outline: 8px #780000 solid;
}

/* On mouse-over, add a grey background color to the radio button*/
.container:hover input {
  background-color: #ccc;
}

/* When the radio button is checked, it gets red*/
.container input:checked ~ .checkmark {
  background-color: #C1121F;
}

.f_span {
    color: #C1121F;
    font-size: 20px;
    font-family: IBM Plex Sans KR;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
}

.text-4 {
    width: 56px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.frame-5 {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;  
    display: inline-flex;
}



